@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.woff2) format('woff2'),
        url(./fonts/Roboto-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: lightblue;
}

header {
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1060px;
    margin-top: 20px;
    color: #1f51ff;
}

h1 {
    font-size: 40px;
    display: inline;
    font-weight: 700;
}

button {
    display: inline;
    background-color: blue;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

#library {
    margin: 10px auto 0 auto;
    display: grid;
    width: 1060px;
    height: 100vh;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

.card {
    background-color: aliceblue;
}

dialog {
    position: relative;
    top: 150px;
    left: 275px;
    width: 800px;
    border: 2px solid blue;
}

form {
    font-size: 24px;
    padding: 20px 40px 20px 40px; 
    color: blue;
}

fieldset {
    border: none;
    margin-top: 20px;
}

input {
    line-height: 2;
    width: 100%;
    font-size: 20px;
    border: 2px solid blue;
}

#add {
    margin-left: 300px;
    margin-top: 20px;
}



